<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css">
    <style type="text/css">
        .avatar{
            width:30px;
            height:30px;
            border-radius: 5px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand">珠峰博客</div>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="/">首页</a></li>
                <li><a href="/user/signup">注册</a></li>
                <li><a href="/user/signin">登录</a></li>
                <li><a href="/user/signout">退出</a></li>
                <li><a href="/article/add">发表文章</a></li>
                <li><a href="/category/list">分类管理</a></li>
            </ul>
            <%if(user){%>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href=""><img class="avatar" src="<%=user.avatar%>" alt="<%=user.username%>"></a></li>
                    <li><a href=""><%=user.username%></a></li>
                </ul>
            <%}%>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <%if(success){%>
              <div class="alert alert-success text-center"><%=success%></div>
            <%}%>
            <%if(error){%>
              <div class="alert alert-danger  text-center"><%=error%></div>
            <%}%>
        </div>
    </div>