<% include ../include/header.html%>
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <form method="post">
            <div class="form-group">
                <label for="category">分类</label>
                <select name="category" id="category" class="form-control">
                    <%categories.forEach(function(category){%>
                    <option value="<%=category._id%>" <%=article.category && article.category.toString() == category._id.toString()?'selected':''%>><%=category.name%></option>
                    <%})%>
                </select>
            </div>
            <div class="form-group">
                <label for="title">标题</label>
                <input type="text" class="form-control" id="title" name="title" value="<%=article.title%>">
            </div>
            <div class="form-group">
                <label for="content">内容</label>
                <textarea name="content" id="content" cols="30" rows="10" class="form-control"><%=article.content%></textarea>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>
<% include ../include/footer.html%>